/* --------------------- Arial Family ---------------------- */
	.arial-regular{
		font-family: Arial, Sans-Serif;
		font-weight: 400;
	}

	.arial-bold{
		font-family: Arial, Sans-Serif;
		font-weight: 700;
	}
/* --------------------- Montserrat Family ---------------------- */