.container{
	display: block;
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	padding: 0;
}

.row{
	width: auto;
	max-width: auto;
	margin-left: -15px;
	margin-right: -15px;
}

@media(max-width: 1200px){
	.container{
		padding: 0 15px;
	}
}

.vertical-align{
	display: table-cell;
	vertical-align: middle;
}

@mixin rotate($deg){
	-webkit-transform: rotate($deg);
	-moz-transform: rotate($deg);
	-o-transform: rotate($deg);
	-ms-transform: rotate($deg);
	transform: rotate($deg);
}

@mixin borderRadius($position, $deg:('0px', '0px')){

	@if $position == all{
		-webkit-border-radius: nth($deg, 1);
		-moz-border-radius: nth($deg, 1);
		-o-border-radius: nth($deg, 1);
		-ms-border-radius: nth($deg, 1);
		border-radius: nth($deg, 1);
	}
	@else {
		-webkit-border-#{$position}-left-radius: nth($deg, 1);
		-moz-border-#{$position}-left-radius: nth($deg, 1);
		-o-border-#{$position}-left-radius: nth($deg, 1);
		-ms-border-#{$position}-left-radius: nth($deg, 1);
		border-#{$position}-left-radius: nth($deg, 1);

		-webkit-border-#{$position}-right-radius: nth($deg, 2);
		-moz-border-#{$position}-right-radius: nth($deg, 2);
		-o-border-#{$position}-right-radius: nth($deg, 2);
		-ms-border-#{$position}-right-radius: nth($deg, 2);
		border-#{$position}-right-radius: nth($deg, 2);
	}

}