html{
	position: relative;
	body{
		position: relative;
		float: left;
		width: 100%;

		header{
			position: relative;
			float: left;
			width: 100%;
		}

		main{
			position: relative;
			float: left;
			width: 100%;

			article{
				float: left;
				width: 100%;
				.article-title{
					position: relative;
					display: block;
					float: left;
					width: 100%;
				}
				.article-content{
					position: relative;
					display: block;
					float: left;
					width: 100%;
					padding: 120px 0;
				}
				section{
					position: relative;
					float: left;
					width: 100%;
				}
			}

		}

		footer{
			position: relative;
			float: left;
			width: 100%;
		}

	}
}

/* ------------------------------ PADRÃO -------------------------- */
	.form-control{
		box-shadow: none!important;
	}
	.has-error{
		.form-control{
			margin-bottom: 7px;
			border: 1px solid #ec0928!important;
			transition: border 0.5s ease;
		}
		.errors{
			float: left;
			width: 100%;
			margin-bottom: 20px;
			.help-block{
				margin-bottom: 5px;
				font-style: italic;
				font-size: 13px;
				color: #ec0928;
				line-height: 13px;
				&:last-child{
					margin-bottom: 0;					
				}
			}
		}
	}	

	.result-mesage{
		font-family: Raleway Bold;
	    font-size: 20px;
	    color: #e5251c;
	    letter-spacing: 3px;		
	}	

	load{
		float: right;
		display: table;
		clear: both;
	}
/* ------------------------------ PADRÃO -------------------------- */