/vendor
/node_modules
/nbproject
/public/media/*
/public/cache/*
/storage/database.sqlite
/storage/cache/*
/stats
/error
#/packages/*
/.idea/*
/.hooks/gitlab-webhook-push.log
._*
.sub*
.smb*
.DS_Store
.env
Homestead.yaml
Homestead.json