#fountainTextG{
	margin:auto;
}

.fountainTextG{
	color: rgb(255,255,255);
	font-family: "Raleway Bold";
	font-size: 22px;
	float: left;
	animation-name:bounce_fountainTextG;
		-o-animation-name:bounce_fountainTextG;
		-ms-animation-name:bounce_fountainTextG;
		-webkit-animation-name:bounce_fountainTextG;
		-moz-animation-name:bounce_fountainTextG;
	animation-duration:1.271s;
		-o-animation-duration:1.271s;
		-ms-animation-duration:1.271s;
		-webkit-animation-duration:1.271s;
		-moz-animation-duration:1.271s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.5);
		-o-transform:scale(.5);
		-ms-transform:scale(.5);
		-webkit-transform:scale(.5);
		-moz-transform:scale(.5);
}#fountainTextG_1{
	animation-delay:0.4525s;
		-o-animation-delay:0.4525s;
		-ms-animation-delay:0.4525s;
		-webkit-animation-delay:0.4525s;
		-moz-animation-delay:0.4525s;
}
#fountainTextG_2{
	animation-delay:0.549s;
		-o-animation-delay:0.549s;
		-ms-animation-delay:0.549s;
		-webkit-animation-delay:0.549s;
		-moz-animation-delay:0.549s;
}
#fountainTextG_3{
	animation-delay:0.6355s;
		-o-animation-delay:0.6355s;
		-ms-animation-delay:0.6355s;
		-webkit-animation-delay:0.6355s;
		-moz-animation-delay:0.6355s;
}
#fountainTextG_4{
	animation-delay:0.732s;
		-o-animation-delay:0.732s;
		-ms-animation-delay:0.732s;
		-webkit-animation-delay:0.732s;
		-moz-animation-delay:0.732s;
}
#fountainTextG_5{
	animation-delay:0.8185s;
		-o-animation-delay:0.8185s;
		-ms-animation-delay:0.8185s;
		-webkit-animation-delay:0.8185s;
		-moz-animation-delay:0.8185s;
}
#fountainTextG_6{
	animation-delay:0.905s;
		-o-animation-delay:0.905s;
		-ms-animation-delay:0.905s;
		-webkit-animation-delay:0.905s;
		-moz-animation-delay:0.905s;
}
#fountainTextG_7{
	animation-delay:1.0015s;
		-o-animation-delay:1.0015s;
		-ms-animation-delay:1.0015s;
		-webkit-animation-delay:1.0015s;
		-moz-animation-delay:1.0015s;
}
#fountainTextG_8{
	animation-delay:1.088s;
		-o-animation-delay:1.088s;
		-ms-animation-delay:1.088s;
		-webkit-animation-delay:1.088s;
		-moz-animation-delay:1.088s;
}
#fountainTextG_9{
	animation-delay:1.1845s;
		-o-animation-delay:1.1845s;
		-ms-animation-delay:1.1845s;
		-webkit-animation-delay:1.1845s;
		-moz-animation-delay:1.1845s;
}
#fountainTextG_10{
	animation-delay:1.271s;
		-o-animation-delay:1.271s;
		-ms-animation-delay:1.271s;
		-webkit-animation-delay:1.271s;
		-moz-animation-delay:1.271s;
}




@keyframes bounce_fountainTextG{
	0%{
		transform:scale(1);
		color:rgb(255,0,0);
	}

	100%{
		transform:scale(.5);
		color:rgb(0,0,0);
	}
}

@-o-keyframes bounce_fountainTextG{
	0%{
		-o-transform:scale(1);
		color:rgb(255,0,0);
	}

	100%{
		-o-transform:scale(.5);
		color:rgb(0,0,0);
	}
}

@-ms-keyframes bounce_fountainTextG{
	0%{
		-ms-transform:scale(1);
		color:rgb(255,0,0);
	}

	100%{
		-ms-transform:scale(.5);
		color:rgb(0,0,0);
	}
}

@-webkit-keyframes bounce_fountainTextG{
	0%{
		-webkit-transform:scale(1);
		color:rgb(255,0,0);
	}

	100%{
		-webkit-transform:scale(.5);
		color:rgb(0,0,0);
	}
}

@-moz-keyframes bounce_fountainTextG{
	0%{
		-moz-transform:scale(1);
		color:rgb(255,0,0);
	}

	100%{
		-moz-transform:scale(.5);
		color:rgb(0,0,0);
	}
}



/* White */
@keyframes bounce_fountainTextGWhite{
	0%{
		transform:scale(1);
		color:rgb(255,255,255);
	}

	100%{
		transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainTextGWhite{
	0%{
		-o-transform:scale(1);
		color:rgb(255,255,255);
	}

	100%{
		-o-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainTextGWhite{
	0%{
		-ms-transform:scale(1);
		color:rgb(255,255,255);
	}

	100%{
		-ms-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainTextGWhite{
	0%{
		-webkit-transform:scale(1);
		color:rgb(255,255,255);
	}

	100%{
		-webkit-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainTextGWhite{
	0%{
		-moz-transform:scale(1);
		color:rgb(255,255,255);
	}

	100%{
		-moz-transform:scale(.5);
		color:rgb(255,255,255);
	}
}