.control{
	display: block;
	float: left;
	width: 100%;
	padding-top: 40px;
	dir-pagination-controls{
		display: table;
		float: right;
		.pagination{
			display: initial;
			float: right;
			margin: 0 auto;
			li{
				float: left;
				width: 30px;
				height: 35px;
				margin: 0;
				a{
					float: left;
					width: 100%;
					padding: 0;
					font-size: 18px;
					color: #565656;
					line-height: 35px;
					text-align: center;
					transition: all 0.5s ease;
					&:hover{
						background-color: transparent;
						color: #e20613;
					}
				}
				&:first-child, &:last-child{
					a{
						text-indent: -999999999px;
						overflow: hidden;
						background: url('#{$urlImg}icone-paginacao.svg') no-repeat center center;
					}
				}
				&:first-child{
					margin-right: 10px;
					a{
					}
				}
				&:last-child{
					margin-left: 10px;
					a{
						@include rotate(180deg);
					}
				}
				&.active{
					a{
						background-color: transparent;
						color: #e20613;
						cursor: no-drop;
					}				
				}
				&.disabled{
					padding: 0;
					a{
						cursor: no-drop;
						&:hover{
							color: #565656;
						}
					}
				}
			}
		}
	}
}