.slick-slider{
	position: relative;
	width: 100%;
	padding: 0;
	.slick-slide{
		outline: 0;
		a{
			outline: 0;
		}
	}
	.slick-prev, .slick-next{
		z-index: 8;
		position: absolute;
		top: 50%;
		width: 35px;
		outline: 0;
		border: none;
		background-color: transparent;
		text-indent: -99999px;
		overflow: hidden;
	}
	.slick-prev{
		left: 30px;
	}
	.slick-next{
		right: 30px;
	}
	.slick-dots{
		display: table;
		margin: 30px auto;
		padding: 0;
		list-style: none;
		li{
			position: relative;
			float: left;
			margin: 0 25px;
			&:after{
				content: "";
				position: absolute;
				right: -24px;
				bottom: 0;
				width: 2px;
				height: 2px;
				background-color: #000;
				@include borderRadius(all, (100%));
			}
		}
		li:first-child{
			margin-left: 0;
		}
		li:last-child{
			margin-right: 0;
			&:after{
				display: none;
			}
		}
	}
}