<article class="home">
	<div class="container">
		<div class="row align-center">
			<div class="column medium-10 text-center">

			<br><br>

			<h1>{{message}}</h1>
			
			<br><br>

			<!-- Slider Exemplo -->
				<slick settings="slickConfig" slides-to-show="1" slides-to-scroll="1">
			    	<div class="item"><h2>Slick Slider</h2></div>
			    	<div class="item"><h2>Slick Slider</h2></div>
			    </slick>

			    <hr>
			    <br><br>
			<!-- // -->

			<!-- Select2 Exemplo -->
				<h2>Select 2</h2>
				<ui-select ng-model="selected.value" theme="bootstrap">
				    <ui-select-match>
				        <span>{{$select.selected.name}}</span>
				    </ui-select-match>
				    <ui-select-choices repeat="item in (itemArray | filter: $select.search)">
				        <span>{{item.name}}</span>
				    </ui-select-choices>
				</ui-select>
				<br>
				<p>Valor Selecionado: {{selected.value}}</p>
				<hr>
				<br><br>
			<!-- // -->

			<!-- Validate/Mask Exemplo -->
				<h2>Validate / Mask</h2>
				<form name="userForm" class="formulario" ng-submit="submitForm(userForm.$valid)" novalidate>
				    
				    <!-- NOME -->
				    <div class="row" ng-class="{ 'has-error' : userForm.name.$invalid && userForm.name.$dirty }">
				    	<div class="column large-12">
					        <label>Nome
					        	<input type="text" name="name" class="form-control" ng-model="user.name" required>
					        </label>
					        <p ng-show="userForm.name.$invalid && userForm.name.$dirty" class="help-block">Seu nome é obrigatório</p>
				    	</div>
				    </div>

				    <!-- Idade -->
				    <div class="row" ng-class="{ 'has-error' : userForm.idade.$invalid && userForm.idade.$dirty }">
				    	<div class="column large-12">
					        <label>Idade
					        	<input 	type="text" name="idade" class="form-control" ng-model="user.idade" 
					        			required ui-number-mask="0" 
					        			ui-negative-number
					        			min="1"
					        			max="99">
					        </label>
					        <p ng-show="userForm.idade.$invalid && userForm.idade.$dirty" class="help-block">Sua idade é obrigatório</p>
					        <p ng-show="userForm.idade.$error.min" class="help-block">Valor acima de 0</p>
					        <p ng-show="userForm.idade.$error.max" class="help-block">Valor inferior a 99</p>
				    	</div>
				    </div>

				    <!-- Salário -->
				    <div class="row" ng-class="{ 'has-error' : userForm.salario.$invalid && userForm.salario.$dirty }">
				    	<div class="column large-12">
					        <label>Salário
					        	<input 	type="text" name="salario" class="form-control" ng-model="user.salario" 
					        			required ui-money-mask="2"
					        			min="1"
					        			max="999999">
					        </label>
					        <p ng-show="userForm.salario.$invalid && userForm.salario.$dirty" class="help-block">Seu salário é obrigatório</p>
					        <p ng-show="userForm.salario.$error.min" class="help-block">Valor acima de R$ 0</p>
					        <p ng-show="userForm.salario.$error.max" class="help-block">Valor inferior a R$ 999.999,00</p>
				    	</div>
				    </div>

				    <!-- USERNAME -->
				    <div class="row" ng-class="{ 'has-error' : userForm.username.$invalid && userForm.username.$dirty }">
				    	<div class="column large-12">
					        <label>Username
					        	<input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="8">
						        <p ng-show="userForm.username.$error.minlength" class="help-block">Username no mínimo 3 caracteres.</p>
						        <p ng-show="userForm.username.$error.maxlength" class="help-block">Username no máximo 8 caracteres.</p>
					        </label>
				    	</div>
				    </div>

				    <!-- TELEFONE -->
				    <div class="row" ng-class="{ 'has-error' : userForm.telefone.$invalid && userForm.telefone.$dirty }">
				    	<div class="column large-12">
					        <label>Telefone
					        	<input type="text" name="telefone" class="form-control" ng-model="user.telefone"
					        	required ui-br-phone-number>
						        <p ng-show="userForm.telefone.$invalid && userForm.telefone.$dirty" class="help-block">Seu telefone é obrigatório</p>
					        </label>
				    	</div>
				    </div>

				    <!-- CELULAR -->
				    <div class="row" ng-class="{ 'has-error' : userForm.celular.$invalid && userForm.celular.$dirty }">
				    	<div class="column large-12">
					        <label>Celular
					        	<input type="text" name="celular" class="form-control" ng-model="user.celular"
					        	required ui-br-phone-number>
						        <p ng-show="userForm.celular.$invalid && userForm.celular.$dirty" class="help-block">Seu celular é obrigatório</p>
					        </label>
				    	</div>
				    </div>

				    <!-- CEP -->
				    <div class="row" ng-class="{ 'has-error' : userForm.cep.$invalid && userForm.cep.$dirty }">
				    	<div class="column large-12">
					        <label>Cep
					        	<input type="text" name="cep" class="form-control" ng-model="user.cep"
					        	required ui-br-cep-mask>
						        <p ng-show="userForm.cep.$invalid && userForm.cep.$dirty" class="help-block">Seu cep é obrigatório</p>
					        </label>
				    	</div>
				    </div>

				    <!-- EMAIL -->
				    <div class="row" ng-class="{ 'has-error' : userForm.email.$invalid && userForm.email.$dirty }">
				    	<div class="column large-12">
					        <label>Email
					        	<input type="email" name="email" class="form-control" ng-model="user.email">
						        <p ng-show="userForm.email.$invalid && userForm.email.$dirty" class="help-block">Informe um e-mail válido.</p>
					        </label>
				    	</div>
				    </div>
					<div class="row">
						<div class="column large-12">
							<button type="submit" class="btn btn-primary btn-enviar" ng-disabled="userForm.$invalid">Enviar</button>
						</div>
					</div>

				</form>
			<!-- // -->
				
		    <br><br>

			</div>
		</div>
	</div>
</article>